#dolphin-iframe {
    border: none;
    background: transparent;
    z-index: 999999;
    transform: translateZ(0px);
    position: fixed;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: opacity, top, bottom;
    opacity: 1;
    height: 100%;
    width: 390px;
    max-height: 565px;
    min-height: 290px;
    margin-left: 8px;
    margin-right: 8px;
    right: 0px;
    bottom: 10px;
    border-radius: 10px;
}


@media (max-width: 700px) {
    #dolphin-iframe {
        width: 100%;
        max-height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        bottom: 0px;
        border-radius: 0px;
    }
}